* {
    box-sizing: border-box;
}

#employees{
    color: #1238aa;
    width: 100%;
    align-content: center;

}
#employees ol {
    list-style:circle;
    display: block;
    font-size: 13px;
    margin:15px 0;
    border-radius: 5px;
    padding: 10px 0 10px 20px;
    border: 2px solid #6fa5ce;
    overflow: hidden;
}

body {
    background-color: #e8d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 20px;
    margin: 0;
}

.text {
    font-family: sans-serif;
    font-size: 18px;
}
.form-label, .inputField{
    display: block;
    margin:10px 0;
}

.form {
    width: 300px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #d0d0d0;
    overflow: hidden;
}

.form-group {
    width: 100%;
    padding: 20px
}

#inputNum {
    display: block;
    width: 100%;
}

.small {
    display: block;
    margin: 10px 0;
    color: #ac1fb6;
    font-size:15px;
}

.hide{
    visibility: hidden;
}
.flex-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto ;
    grid-gap: 5px;
}
#btnNewEmployee{
    grid-column: 1/3;
}
.btn {
    border-radius: 5px;
    padding: 10px 30px;
    border-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#msgError{
    height:30px;
}